#! /bin/bash
# Some automation to setting up OSE/K8 VM's

# HOSTENV = rhel, centos, fedora
# INTERNALHOST yourhostname i.e. ip-172-30-16-54.internal.amazonaws.com, can override system value if needed
# OCPVERSION = (default is latest available) 3.4, 3.5 and 3.6 supported so far
# GOVERSION = 1.6, 1.7, 1.8.3, 1.8.5, 1.9.2 or yum means install golang from yum and attached repos typically will get the latest OCP version needed
# ISCLOUD = aws, gce, vsphere or local
# ZONE = if aws, then enter your aws zone i.e. us-west-2a or if GCE enter your zone i.e. us-east1-d
# MULTIZONE = true or false (allows dynamic provisioning in multiple managed zones)
# AWSKEY = the key value (only needed for AWS)
# AWSSECRET = the secret key value (only needed for AWS)
# ORIGINWORKDIR=(optional) centralized working directory for OpenShift Origin (default is home directory of user)
# KUBEWORKDIR=(optional) centralized working directory for Kube (default is home directory of user)
# SOURCEDIR=(optonal) where GOPATH and cloned source repositories will live (default is home directory of user)
# SETUP_TYPE=
#            cnv-dev - all in one openstack/cinder/ceph and K8
#            cnv-cinder - just cinder node
#            cnv-ceph - just ceph node
#            cnv-k8 - just k8 node for local-up-cluster.sh
#            cnv-cinder-k8 - cinder and k8 on same node
#            cnv-ceph-k8 - ceph and k8 on same node
#            cnv-k8-existing - install just k8 on existing node (either the ceph or cinder)

# CONTAINER_ENGINE= docker (default), none or "" for no engines installed, values include docker, rkt, runc and none or ""        
# DOCKERVER= version # OR leave blank and it will get whatever is available/current for your repo sets
# ETCD_VER= (version# or default) (default is what is available for repo sets, version# will trigger whatever version is specified, i.e. 3.0.4)
# POOLID= use a specific known RHN pool id to attach to the instance, otherwise make blank "", the default is Employee SKU
# SKIPSOURCECLONE=yes or no - yes means that you will not clone any source repos, no is default and will clone source repos - use no to save network i/o and time, if not needed
# FEATURE_GATES=This sets up an env variable for Feature Gate support (FEATURE_GATES=BlockVolumeSupport=true)
#     i.e.  here is an example of how to enable localPersistentVolume + BlockVolume Support
#
#                  export FEATURE_GATES=BlockVolumeSupport=true,PersistentLocalVolumes=true,LocalStorageCapacityIsolation=true,MountPropagation=true
#
# GFS_LIST=list of server hostnames separated by : (first in list is always the master)
# TODO: ALLOW_SECURITY_CONTEXT=true

HOSTENV=centos
SETUP_TYPE="cnv-cinder-k8"
CINDERHOST=ip-172-18-8-229.ec2.internal
CEPHHOST=ip-172-18-3-91.ec2.internal
GOVERSION="1.9.2"
DOCKERVER="1.12.6"
KUBE_ENABLE_CLUSTER_DNS=true
ISCLOUD=local
AWSKEY=local
AWSSECRET=local
KUBEWORKDIR="/etc/kubernetes-dev"
SOURCEDIR="/opt"
ETCD_VER="3.2.14"
SKIPSOURCECLONE="no"
FEATURE_GATES="BlockVolume=true,PersistentLocalVolumes=true,LocalStorageCapacityIsolation=true,MountPropagation=true"


