#! /bin/bash
# Some automation to setting up OSE/K8 VM's

# HOSTENV = rhel, centos, fedora
# SETUP_TYPE -
#             k8-dev - stand-alone k8 setup for local-up-cluster.sh
#             cnv-dev - all in one openstack/cinder/ceph and K8
#             cnv-cinder - just cinder node
#             cnv-ceph - just ceph node
#             cnv-k8 - just k8 node for local-up-cluster.sh
#             cnv-cinder-k8 - cinder and k8 on same node
#             cnv-ceph-k8 - ceph and k8 on same node
#             cnv-k8-existing - install just k8 on existing node (either the ceph or cinder)
# CINDERHOST  - the internal dnshostname of the instance (i.e. ip-172-18-8-187.ec2.internal)
# CEPHHOST    - the internal dnshostname of the instance (i.e. ip-172-18-8-187.ec2.internal)
# BLOCKPREFIX - AWS = "xv"
# GOVERSION   - 1.6, 1.7, 1.8.3, 1.8.5, 1.9.2 or yum means install golang from yum and attached repos typically will get the latest OCP version needed
# DOCKERVER   - version # (i.e.  1.12.6)
#             - "default" OR "" (installs what comes from normal enabled repos via yum)
#             - "ce" - installs latest CentOS CE version (i.e. 18.22.1)
# ETCD_VER    - version # you want installed (i.e. "3.2.14")
# ISCLOUD = aws, gce, vsphere or local (local is generally fine unless you really want to perform cloud functions for the specific provider)
# AWSKEY = the key value (only needed for AWS)
# AWSSECRET = the secret key value (only needed for AWS)
# KUBEWORKDIR=(optional) centralized working directory for Kube (default is home directory of user)
# SOURCEDIR=(optonal) where GOPATH and cloned source repositories will live (default is home directory of user)
# SKIPSOURCECLONE=yes or no - yes means that you will not clone any source repos, no is default and will clone source repos - use no to save network i/o and time, if not needed
# FEATURE_GATES=This sets up an env variable for Feature Gate support (FEATURE_GATES=BlockVolumeSupport=true)
#     i.e.  here is an example of how to enable localPersistentVolume + BlockVolume Support
#
#                  export FEATURE_GATES=BlockVolumeSupport=true,PersistentLocalVolumes=true,LocalStorageCapacityIsolation=true,MountPropagation=true
#
# GFS_LIST=list of server hostnames separated by : (first in list is always the master)
# TODO: ALLOW_SECURITY_CONTEXT=true

HOSTENV=centos
SETUP_TYPE="cnv-cinder-k8"
CINDERHOST=ip-172-18-3-70.ec2.internal
CEPHHOST=ip-172-18-6-69.ec2.internal
GOVERSION="1.9.2"
DOCKERVER="1.12.6"
ETCD_VER="3.2.14"
KUBE_ENABLE_CLUSTER_DNS=true

#Cloud Provider Env Vars
ISCLOUD=local
AWSKEY=local
AWSSECRET=local
ZONE=us-east-1d

# Workspace Env Vars
KUBEWORKDIR="/etc/kubernetes-dev"
SOURCEDIR="/opt"
SKIPSOURCECLONE="no"
FEATURE_GATES="BlockVolume=true,PersistentLocalVolumes=true,LocalStorageCapacityIsolation=true,MountPropagation=true"


