#! /bin/bash
# Some automation to setting up OSE/K8 VM's

# INTERNALHOST yourhostname i.e. ip-172-30-16-54.internal.amazonaws.com, can override system value if needed
# GOYUM = Y means install golang from yum and attached repos typically will get 1.4 version, N = install 1.6 version
# ISCLOUD = aws, gce or local
# ZONE = if aws, then enter your aws zone i.e. us-west-2a
# AWSKEY = the key value
# AWSSECRET = the secret key value
# RHNUSER = rhn support id - for use with subscription manager
# RHNPASS = rhs support password - for use with subscription manager
# ORIGINWORKDIR=(optional) centralized working directory for OpenShift Origin (default is home directory of user)
# KUBEWORKDIR=(optional) centralized working directory for Kube (default is home directory of user)
# SOURCEDIR=(optonal) where GOPATH and cloned source repositories will live (default is home directory of user)
# TODO: ALLOW_SECURITY_CONTEXT=true

INTERNALHOST=$HOSTNAME
GOYUM=N
ISCLOUD=local
ZONE=local
AWSKEY=local
AWSSECRET=local
RHNUSER=rhn-support-account
RHNPASS=rhn-password
ORIGINWORKDIR="/etc/openshift"
KUBEWORKDIR="/etc/kubernetes"
SOURCEDIR="/opt/go"
