#! /bin/bash
# Some automation to setting up OSE/K8 VM's

# INTERNALHOST yourhostname i.e. ip-172-30-16-54.internal.amazonaws.com, can override system value if needed
# GOYUM = Y means install golang from yum and attached repos typically will get 1.4 version, N = install 1.6 version
# ISCLOUD = aws, gce, vsphere or local
# ZONE = if aws, then enter your aws zone i.e. us-west-2a or if GCE enter your zone i.e. us-east1-d
# AWSKEY = the key value (only needed for AWS)
# AWSSECRET = the secret key value (only needed for AWS)
# RHNUSER = rhn support id - for use with subscription manager
# RHNPASS = rhs support password - for use with subscription manager
# ORIGINWORKDIR=(optional) centralized working directory for OpenShift Origin (default is home directory of user)
# KUBEWORKDIR=(optional) centralized working directory for Kube (default is home directory of user)
# SOURCEDIR=(optonal) where GOPATH and cloned source repositories will live (default is home directory of user)
# SETUP_TYPE=dev, aplo, aploclient (default is dev) - dev will install a working dev environment to build from source, etc...
#            aplo - normal ose/k8 install minus the cloning of source repos
#            client - just base with openshift-utils and openshift-client - nothing else
#            TODO: ocp_only - No Kube source is installed, only OCP
#            TODO: kube_only - No OCP source is installed, only Kube        
# DOCKERVER= version # OR leave blank and it will get whatever is available/current for your repo sets
# ETCD_VER= (3 or default) (default is what is available for repo sets, 3 will trigger version 3.0.4 which is now required with latest K8)
# TODO: ALLOW_SECURITY_CONTEXT=true

INTERNALHOST=$HOSTNAME
GOYUM=N
ISCLOUD=local
ZONE=local
AWSKEY=local
AWSSECRET=local
RHNUSER=rhn-support-account
RHNPASS=rhn-password
ORIGINWORKDIR="/etc/openshift"
KUBEWORKDIR="/etc/kubernetes"
SOURCEDIR="/opt"
SETUP_TYPE="dev"
DOCKERVER="1.10.3"
ETCD_VER="3"
