#! /bin/bash
# Some automation to setting up OSE/K8 VM's

# RERUN = N (set this to Y to rerun without registering for rhel or YS to rerun and reregistry)
# HOSTENV = rhel, centos, fedora
# OCPVERSION = (default is latest available) 3.4, 3.5 and 3.6 supported so far
# GFS_VERSION = 3.12 for actual version
#               epel for latest gluster release (3.12)
#               rhrepo for latest version of official release by RH
#               default/latest for latest version of official release by either RH or CentOS
# RHNUSER = rhn support id - for use with subscription manager
# RHNPASS = rhs support password - for use with subscription manager
# SETUP_TYPE=gluster
# POOLID= use a specific known RHN pool id to attach to the instance, otherwise make blank "", the default is Employee SKU
# GFS_LIST=list of server hostnames separated by : (first in list is always the master)

#Basic Setup
SETUP_TYPE="gluster"
HOSTENV=rhel
OCPVERSION="3.7"
GFS_VERSION="3.12"
DO_GPG=Y        # Set this is you are using a special repo version for GFS_VERSION
RHNUSER=rhn-support-account
RHNPASS=rhn-password
POOLID="8a85f9833e1404a9013e3cddf99305e6"
GFS_LIST="ip-172-18-4-140.ec2.internal:ip-172-18-4-188.ec2.internal:ip-172-18-14-160.ec2.internal"

# Volume Configuration
PEER_PROBE=Y
CREATE_VOL=Y
GFS_DIR="/data/gluster/"
GFS_VOLNAME="gv0"
GFS_BRICK="brick"
GFS_DEVICE="/dev/xvdc"
FUSE_BASE="/mnt/glusterfs-storage"
REPLICA_COUNT=3

# OpenStack Swift
INSTALL_SWIFT_LOCAL=Y
INSTALL_SWIFT_REMOTE=Y
ADD_SWIFT3=Y

# K8 Prereqs Docker, ETCD, Go
INSTALL_PREREQ=N
GOVERSION="1.9.2"
DOCKERVER="1.12.6"
ETCD_VER="3.2.16"


#Control Parameters
#RERUN=Y will rerun Volume Configuration without installing gluster or any base software, easy way to automate
#        volume creation 
RERUN=N







