#! /bin/bash
# minor automation to help install PSI
# - there should be a basic master setup


# Base Parameters
HOSTENV=rhel
APP_TYPE=openstack
SETUP_TYPE=psi
INSTALL_TYPE=upgrade-master

# ---------------------------------
# Openshift 4.0 Installer and Client
# ---------------------------------
INSTALLER_VERSION="latest"
INSTALLER_TAR="openshift-install-linux-4.2.13.tar.gz"
CLIENT_TAR="openshift-client-linux-4.2.13.tar.gz"


#   Num of Nodes and Masters
MASTER_COUNT=1
WORKER_COUNT=3
CLUSTER_NAME=${USERNAME}-ocp1
INSTALL_PASSWORD=changeme
SSHPATH=${HOME}/.ssh/id_rsa.pub
PULLSECRETPATH=/root/pullsecret.json
#-------------------------------------

# ------------------------------------
#Cloud Provider Env Vars
# ------------------------------------
ISCLOUD=openstack
ZONE=us-east-1
OPENSTACK_FLAVOR=ocp-master
BASE_DOMAIN=shiftstack.com
OPENSTACK_EXTERNAL_NETWORK=provider_net_shared_2

