#! /bin/bash
# Some automation to setting up OSE/K8 VM's

# RERUN = N (set this to Y to rerun without registering for rhel or YS to rerun and reregistry)
# HOSTENV = rhel, centos, fedora
# OCPVERSION = (default is latest available) 3.4, 3.5 and 3.6 supported so far
# RHNUSER = rhn support id - for use with subscription manager
# RHNPASS = rhs support password - for use with subscription manager
# SETUP_TYPE=gluster
# POOLID= use a specific known RHN pool id to attach to the instance, otherwise make blank "", the default is Employee SKU
# GFS_LIST=list of server hostnames separated by : (first in list is always the master)


SETUP_TYPE="gluster"
HOSTENV=rhel
OCPVERSION="3.7"
RHNUSER=rhn-support-account
RHNPASS=rhn-password
POOLID="8a85f9833e1404a9013e3cddf95a0599"
GFS_LIST="glusterfs1.rhs:glusterfs2.rhs:glusterfs.rhs3"

RERUN=N
SKIPSUBSCRIBE=N




