#! /bin/bash
# Some automation to setting up 4.0 installer setup
# of OCP running on RHEL

# keep most defaults as they are historically needed to run this script properly
# Update the following:
#   RHNUSER (is using rhel and rhsm)
#   RHNPASS (ditto)
#
#   CLUSTER_NAME
#   EMAIL
#   INSTALLER_VERSION (check releases for latest version)
#
#   AWSKEY
#   AWSSECRET
#   ZONE
#   HOSTED_ZONE


# Control Parameters
RERUN=N

# RHSM Parameters
SKIPSUBSCRIBE=N
SKIPREPOS=N
RHNUSER=rhn-support-account
RHNPASS=rhn-password
POOLID="8a85f9833e1404a9013e3cddf99305e6"
CUSTOM_OCP_REPO=N

# Base Parameters
HOSTENV=rhel
APP_TYPE=origin
SETUP_TYPE=installer
IS_FOR_AMI=N

GOVERSION="1.11.4"
OCPVERSION="4.0"

#Install Vars - known good installer versions v0.9.1, v0.11.0, v0.16.1
CLUSTER_NAME=screeley-c1
EMAIL=jdoe@mydomain.com
INSTALL_PASSWORD=changeme
INSTALLER_VERSION=v0.16.1
SSHPATH=/home/ec2-user/.ssh/id_rsa.pub
PULLSECRETPATH=/root/pullsecret.json

MASTER_COUNT=1
WORKER_COUNT=2

# Disk and Machine Types
ROOTSIZE=500
ROOTIOPS=4000
ROOTTYPE=io1
MACHINETYPE=c5.9xlarge

#Cloud Provider Env Vars
ISCLOUD=aws
AWSKEY=local
AWSSECRET=local
ZONE=us-east-1
HOSTED_ZONE=screeley.sysdeseng.com

# Workspace Env Vars
ORIGINWORKDIR="/etc/openshift-dev"
KUBEWORKDIR="/etc/kubernetes-dev"
INSTALLDIR="/root"
SOURCEDIR="/opt"
FEATURE_GATES="BlockVolume=true,PersistentLocalVolumes=true,LocalStorageCapacityIsolation=true,MountPropagation=true"
DEFAULT_STORAGECLASS=false
ENABLE_HOSTPATH=true
FAST_CLONE=N

# cinder env vars
CINDER_CLIENT=N



