#! /bin/bash
# Some automation to setting up 4.0 installer setup
# of OCP running on RHEL

# keep most defaults as they are historically needed to run this script properly
# Update the following:
#   RHNUSER (is using rhel and rhsm)
#   RHNPASS (ditto)
#
#   CLUSTER_NAME
#   EMAIL
#   INSTALLER_VERSION (check releases for latest version)
#
#   AWSKEY
#   AWSSECRET
#   ZONE
#   HOSTED_ZONE


# Control Parameters
RERUN=N

# RHSM Parameters
SKIPSUBSCRIBE=N
SKIPREPOS=N
RHNUSER=rhn-support-account
RHNPASS=rhn-password
POOLID="8a85f9833e1404a9013e3cddf95a0599"
CUSTOM_OCP_REPO=N

# Base Parameters
HOSTENV=rhel
APP_TYPE=origin
SETUP_TYPE=installer
IS_FOR_AMI=N
GOVERSION="1.11.4"

# ---------------------------------
# Openshift 4.0 Installer
# ---------------------------------
OCPVERSION="4.0"
INSTALLER_VERSION="latest"
INSTALLER_TAR="openshift-install-linux-4.1.11.tar.gz"
#INSTALLER_VERSION="4.2.0-0.nightly-2019-06-03-135056"
#INSTALLER_TAR="openshift-install-linux-4.2.0-0.nightly-2019-06-03-135056.tar.gz"

#   Num of Nodes and Masters
MASTER_COUNT=1
WORKER_COUNT=1
#   Disk and Machine Types
ROOTSIZE=500
ROOTIOPS=4000
ROOTTYPE=io1
MACHINETYPE=c5.9xlarge
#   Other Vars
CLUSTER_NAME=screeley-c1
EMAIL=jdoe@mydomain.com
INSTALL_PASSWORD=changeme
SSHPATH=/home/ec2-user/.ssh/id_rsa.pub
PULLSECRETPATH=/root/pullsecret.json
#-------------------------------------

# ------------------------------------
# KUBEFED post-install.sh Vars
# ------------------------------------
KUBECTL_VERSION="latest"
KUBEFEDCTL_VERSION="v0.1.0-rc5"
KUBEFEDCTL_NAME="kubefedctl-0.1.0-rc5-linux-amd64.tgz"
# ------------------------------------

# ------------------------------------
#Cloud Provider Env Vars
# ------------------------------------
ISCLOUD=aws
AWSKEY=local
AWSSECRET=local
ZONE=us-east-1
HOSTED_ZONE=screeley.sysdeseng.com
# ------------------------------------

# Workspace Env Vars
ORIGINWORKDIR="/etc/openshift-dev"
KUBEWORKDIR="/etc/kubernetes-dev"
INSTALLDIR="/root"
SOURCEDIR="/opt"
FEATURE_GATES="BlockVolume=true,PersistentLocalVolumes=true,LocalStorageCapacityIsolation=true,MountPropagation=true"
DEFAULT_STORAGECLASS=false
ENABLE_HOSTPATH=true
FAST_CLONE=N

# cinder env vars
CINDER_CLIENT=N



